{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block scripts %}
{% endblock %}

{% block styles %}
<style type="text/css">
    table.patients
    {
        border: 1px solid black;
    }
    tr.patients_row1
    {
        background-color: #F0F0F0;
    }
    tr.patients_row2
    {
        background-color: #FFF0FF;
    }
</style>
{% endblock %}

{% block content %}
<h1>{% trans "Patient Data" %}</h1>

<form action="" method="post">{% csrf_token %}
{{ patientform.as_p }}
<input type="button" value="<<< {% trans "CANCEL" %}" onclick='history.go(-1);return false;'" />
<input type="submit" value="{% trans "NEXT" %} >>>" />
</form>

{% endblock %}